<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CheckIn</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div class="container">
    <div class="whitebackground">
      <!-- Navbar content -->
      <div class="brand">
        <h1 class="display-3"><span class="greentext">WELCOME TO </span><span class="redtext">4 SEASONS</span><span class="bluetext"> NAILS & STORE</span></h1>
      </div>
    </div>
  