<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CheckIn</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="whitebackground">
      <!-- Navbar content -->
      <div class="brand">
        <h1 class="display-3"><span class="greentext">WELCOME TO </span><span class="redtext">4 SEASONS</span><span class="bluetext"> NAILS & SPA</span></h1>
      </div>
    </div>
  <div>
  <li class="slideshow"></li>
</div>   

<script>
  $(".showlink").click(function(){
    var pass = prompt("Please enter password!!");
    var passKey = "thanh123";
    while (pass != passKey) {
      pass = prompt("Please try again!");
      if (pass == passKey) {
        console.log();
    }
  }
});  
</script>