<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CheckIn</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse bg-inverse">
      <!-- Navbar content -->
      <h1 class="display-3"><span class="glyphicon glyphicon-book"></span></h1>
      <h1 class="display-3">WELCOME TO FOUR SEASONS NAILS</h1>
    </nav>
  