<% include ./partials/header %>

  <a type="button" class="btn btn-primary btn-lg" href="displays/signin">Click Here To Check In</a>
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-body">
       <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Service Type</th>
              <th>Technician</th>
              <th>Modified</th>
            </tr>
          </thead>
          <tbody>
            <% displays.forEach(function(display) { %>
                <tr>
                <td>
                  <%= display.name %>           
                </td>
                <td>
                  <%= display.service %>, <%= display.extraservice %>
                </td>
                <td>
                  <%= display.tech %>
                </td>
                <!-- <td>
                  display.phone
                </td>
                <td>
                   display.email
                </td>            -->
                <td>
                  <input class="modified" type="text" name="edit" placeholder="Edit">
                </td>     
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

<% include ./partials/footer %>










