<% include ./partials/header %>

  <a type="button" class="btn btn-primary btn-block" href="displays/signin">Click Here To Check In</a>
    <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-body">
       <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Service Type</th>
            </tr>
          </thead>
          <tbody>            
            <% displays.forEach(function(display) { %>                
                <tr>
                <td>                              
                  <%= display.name %>
                </td> 
                <td>
                  <%= display.service %>, <%= display.extraservice %>
                </td>
                <td>
                  <a class="showlink" href="/displays/<%= display._id %>">More Info</a>
                </td>               
              </tr>              
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

<script>
  $(".showlink").click(function(){
    var pass = prompt("Please enter password!!");
    var passKey = "thanh123";
    while (pass != passKey) {
      pass = prompt("Please try again!");
      if (pass == passKey) {
        console.log();
    }
  }
});  
</script>       

<% include ./partials/footer %>