body {
  background: rgb(160, 160, 160);
  font-size: 2em;
}

.btn-primary {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.btn-success {
  font-size: 1.5em;
}

.navbar {
  padding: 0;
}

.whiteSpace {
  margin: 10px 0 10px 0;
}

.display-3 {
  color: white;
  padding-left: 10px;
  display: inline-block;
}

.modified {
  border: none;
}